.icon {
    font: normal normal normal 14px/1 icons;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // color: inherit
}

.icon-active {
    color: $accent
}

span.icon {
    margin-right: .3em
}

.icon-2x {font-size: 2em}

/* .icon-3x {font-size: 3em} */

/* Copied from fontello-codes.css */
.icon-star:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-download:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-attention-circled:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-headphones:before { content: '\e80f'; } /* '' */
.icon-cancel-circled2:before { content: '\e810'; } /* '' */
.icon-ethereum:before { content: '\e811'; } /* '' */
.icon-tags:before { content: '\e812'; } /* '' */
.icon-github-1:before { content: '\e813'; } /* '' */
.icon-instagram:before { content: '\e814'; } /* '' */
.icon-linkedin:before { content: '\e815'; } /* '' */
.icon-xing-square:before { content: '\e816'; } /* '' */
.icon-instagram-1:before { content: '\e817'; } /* '' */
.icon-google-play:before { content: '\e818'; } /* '' */
.icon-itunes-note:before { content: '\e819'; } /* '' */
.icon-ravelry:before { content: '\e81a'; } /* '' */
.icon-spotify-1:before { content: '\e81b'; } /* '' */
.icon-twitch:before { content: '\e81c'; } /* '' */
.icon-tiktok:before { content: '\e81d'; } /* '' */
.icon-raspberry-pi:before { content: '\e81e'; } /* '' */
.icon-pinterest:before { content: '\e81f'; } /* '' */
.icon-monero:before { content: '\e820'; } /* '' */
.icon-btc:before { content: '\e821'; } /* '' */
.icon-facebook:before { content: '\e822'; } /* '' */
.icon-medium:before { content: '\e823'; } /* '' */
.icon-etsy:before { content: '\e824'; } /* '' */
.icon-android:before { content: '\e825'; } /* '' */
.icon-reddit:before { content: '\e826'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-github-octocat:before { content: '\f113'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */

.icon-pulse-slow {
    animation: color 8s infinite;
    animation-direction: alternate;
    // position: relative;
}

.icon-pulse-fast {
    animation: color 2s infinite;
    animation-direction: alternate;
    // position: relative;
}

@keyframes color {
    from {color: $accent;}
    to {color: $black;}
  }