@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
      url('./fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/roboto/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('./fonts/roboto/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'icons';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/icons/icons.woff2?30') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/icons/icons.woff?30') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@import "flexboxgrid";
{{ with .Site.Params.accentColor -}}
$accent_color: {{ . }};
{{- else -}}
$accent_color: #0097a7;
{{- end }}
@import "colors";
@import "typography";
@import "icons";
@import "animation";
@import "layout";
@import "base";
@import "modal";
@import "about";
@import "gallery";
@import "custom";


{{ if .Site.Params.Feat.useBlog -}}
@import "blog";
{{- end }}

{{ if .Site.Params.Feat.useTermynal -}}
$term_title: "{{ .Site.Data.terminal.title }}";
@import "termynal";
{{- end }}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  // color: black;
  vertical-align: baseline;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  box-sizing: inherit;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

footer {
  padding-bottom: 1em;
  .icon {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }
  a > .icon {
    color: $white;
  }
}

@media (max-width: 47.99em) {
  body .container {
    padding: $vertical-rhythm * 4 $vertical-rhythm;
  }

  nav {
    // Hide menu links between logo and hamburger menu
    div:not(:first-child):not(:last-child) {
      display: none;
    }

    div.nav-toggle a {
      display: inline-block;
    }
  }

  .mobile-hidden {
    visibility: hidden;
  }
}

@media (max-width: 25em) {
  body .container {
    padding: $vertical-rhythm * 4 $vertical-rhythm;
  }

  nav {
    div.logo,
    div.nav-toggle {
      max-width: 50% !important;
    }
  }
}

nav {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: $vertical-rhythm * 2;
  background-color: $white;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  text-align: center;

  h3 {
    margin: 0;
    font-family: $font-body;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  img {
    display: inline-block;
    max-width: 10em;
    max-height: 2.5em;
    vertical-align: middle;
  }

  .logo,
  .nav-toggle {
    visibility: hidden;
  }

  .nav-toggle a {
    display: none;
  }

  .nav-item-active a {
    color: $accent;
  }
}

// @media (min-width: 47.99) {
//   nav {
//     box-shadow: none;
//   }
// }

.nav-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
}


.nav-fixed {
  position: fixed;
  top: 0;
  bottom: auto;
}

.nav-full {
  position: fixed;
  top: 0;
  right: -100vw;
  bottom: 0;
  width: 100vw;
  height: 100%;
  transform: translate(0, 0);
  transition: .3s ease-out;
  background-color: $black;

  a, .icon {
    color: $white;

    &:hover {
      color: $accent;
    }
  }
}

.nav-full.active {
  transform: translate(-100vw, 0);
}

main {
  transition: .3s ease-in;
  background-color: $smoke;

  &.active {
    transform: translate(-100vw, 0);
  }
}

.container {
  max-width: 43.75rem; // 700px
  margin: auto;
  padding: $vertical-rhythm * 4 0 $vertical-rhythm * 4;
}

p {
  margin-bottom: $vertical-rhythm;

  code {
    font-family: $font-code;
  }
}

h1,
h2,
h3 {
  margin-bottom: $vertical-rhythm;
  font-family: $font-header;
  letter-spacing: 2px;
  line-height: 1.45;

  a {
    text-decoration: none;
  }
}

.home-logo {
  margin-bottom: $vertical-rhythm;
}

a > .icon {
  color: $black;
  transition: color .2s ease-out;
  
  &:not(.icon-menu):hover, &:not(.icon-menu):focus {
    color: $accent;
  }
}

.full {
  top: 0;
  bottom: 0;
  height: 100vh;
}

.contact {
  width: 100%;
  padding-bottom: $vertical-rhythm * 2;
  // TODO(kdevo): Maybe consider to change this to white if blog is not enabled:
  background-color: $smoke;

  form {
    margin-top: $vertical-rhythm;
  }

  .contact-submit {
    position: relative;
  }

  #form-submit {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  #form-thankyou, #form-sending, #form-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

input, button, select {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: $smoke;
  background-color: $white;
  color: $black;

  &[type="submit"] {
    transition: .4s ease-out;
    background-color: $storm;
    color: $white;

    &:hover {
      background-color: $accent;
      color: $white;
      cursor: pointer;
    }
  }
  
  .icon {
    color: $white
  }
}

button {
  white-space: nowrap;
}

textarea {
  @extend input;
  min-height: $vertical-rhythm * 4;
  overflow: auto;
}
