// https://coolors.co/1e1e1e-4e6b6c-f7f7f7-ffffff-da784d

$primary-fg-color: #212121;
$primary-bg-color: #FFFFFF;
$button-bg-color: #4E6B6C;
$secondary-bg-color: #F7F7F7;
$accent-color:#DA784D;
$alt-text-color: #757575;

@import "../color-map-light";