$primary-fg-color: #fafafa;
$primary-bg-color: #111218;
$button-bg-color: #4F5D75;
$secondary-bg-color: #000303;
$accent-color: #0097A7;
$alt-text-color: $button-bg-color;

@import "../color-map-dark";
$gallery-modal-close-color: #2F4858;