{{ if .Site.Params.enforceSinglePage -}}
  {{ warnf "enforceSinglePage is set to true. This is very likely not what you want for blog posts which will always redirect to main page with this option!"}}
{{- end }}
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12"><h1>{{ i18n "latestPosts" }}</h1></div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 posts-list">
      {{ range first 5 (where site.RegularPages "Section" "blog") }}
        <article>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <div class=sub-header>
            {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }}
          </div>
        </article>
      {{ end }}
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12"><h3><a href="{{ "blog/" | relLangURL }}"><span class="icon icon-angle-circled-right"></span>{{ i18n "viewAll" }}</a></h3></div>
  </div>
</div>
