{{ if not site.Params.Feat.ajaxBasin }}
  {{ warnf "Please set site.Params.Feat.ajaxBasin in order to use the contact form!" }} 
{{ end }}
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h1>{{ partial "icon" (dict "name" "contact" "loader" "svg-use-text") }} {{ i18n "letsChat" }}</h1>
      <noscript>{{ i18n "nojsForm" }}</noscript>
    </div>
  </div>

  <form id="form-contact" action="" method="POST">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-6"><input type="text" name="name" aria-label="name" placeholder="{{ i18n "name" }}" required></div>
      <div class="col-xs-12 col-sm-6"><input type="email" id="email" name="email" aria-label="email address" placeholder="{{ i18n "email" }}" required></div>
      {{ if .Page.Params.selectKeys -}}
      <div class="col-xs-12 col-sm-6">
          <select name="matter" required aria-label="email matter">
              {{ range .Page.Params.selectKeys -}}
              <option value="{{ . }}">{{ i18n . }}</option>
              {{- end }}
            </select>
      </div>
      {{- end }}
      <div class="col-xs-12{{ if .Page.Params.selectKeys }} col-sm-6{{ end }}"><input type="text" name="_subject" aria-label="email subject" placeholder="{{ i18n "subject" }}" required></div>
      <div class="col-xs-12">
          <textarea name="message" aria-label="Please enable JS" required></textarea>
        </div>
      <div class="col-xs-12">
        <textarea name="message2" aria-label="email message" placeholder="{{ i18n "message" }}" required hidden></textarea>
      </div>
      <div class="col-xs-12 contact-submit">
        <input id="form-submit" type="submit" value="{{ i18n "send" }}">
        <span id="form-sending" hidden>{{ partial "icon" "sending" }} {{ i18n "sendingEmail" }}</span>
        <span id="form-thankyou" hidden>{{ partial "icon" "ok" }} {{ i18n "thanksForYourEmail" }}</span>
        <span id="form-error" hidden>{{ partial "icon" "warning" }} {{ i18n "errorWhileSendingEmail" }}</span>
      </div>
    </div>
  </form>
</div>
