@import "flexbox";
@import url("https://fonts.googleapis.com/css?family=Proxima+Nova|Open+Sans+Condensed+Bold|PT+Mono");

// Colors
$black: black;
$color_night_rider_approx: #1d1313;
$color_black_haze_approx: #f7f7f7;
$color_masala_approx: #403c3b;

// Fonts
$font-header: "Proxima Nova", "sans-serif";
$font-body: "Open Sans Condensed Bold", "sans-serif";
$font-code: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", "monospace";

// Modular font scale
// Large: http://www.modularscale.com/?1.25&em&1.333&web&text
// Medium: http://www.modularscale.com/?1.25&em&1.25&web&text
// SMall: http://www.modularscale.com/?1.1&em&1.25&web&text

$font-scale-large: (
    h1: 2.961rem,
    h2: 2.221rem,
    h3: 1.666rem,
    p: 1.25rem
);

$font-scale-medium: (
    h1: 2.441rem,
    h2: 1.953em,
    h3: 1.563rem,
    p: 1.25rem,
);

$font-scale-small: (
    h1: 2.148rem,
    h2: 1.719rem,
    h3: 1.375rem,
    p: 1.1rem
);

$base-line-height: 1.6;
$base-font-size: 1.25rem; // 20px
$vertical-rhythm: $base-line-height * $base-font-size; // 2.125em or 34px

$breakpoint-medium: 48em; // 768px
$breakpoint-small: 25em; // 400px

@mixin size($level) {
    font-size: map-get($font-scale-large, $level);
    @media (max-width: $breakpoint-medium) {
        font-size: map-get($font-scale-medium, $level);
    }
    @media (max-width: $breakpoint-small) {
        font-size: map-get($font-scale-small, $level);
    }
}

@media(max-width: 48em) {
	body .container {
        padding: $vertical-rhythm;
	}
    .flex-grid {
        display: block;
    }
}
@media(max-width: 25em) {
	body .container {
        padding: 0 $vertical-rhythm;
	}
    .flex-grid {
        display: block;
    }
}

* {
	box-sizing: border-box;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	color: $black;
	&:before, &:after {
		box-sizing: border-box;
	}
}

html {
    box-sizing: inherit;
}

body {
    @include size(p);
	font-family: $font-header, $font-body;
	line-height: $base-line-height;
	color: $color_night_rider_approx;
    // padding-top: calc(100vh - 4em);
}

.page {
    background-color: #fff;
    position: relative;
}

.container {
    max-width: 43.750rem; // 700px
    padding: $vertical-rhythm * 2 0 $vertical-rhythm * 2;
    margin: auto;
}

p {
	margin-bottom: $vertical-rhythm;
	code {
		font-family: $font-code;
	}
}

a {
    text-decoration: none;
	img {
		border: none;
	}
}

img {
	margin: 0 auto;
    width: 100%;
    // height: 100%;
	max-width: 100%;
	display: block;
}

pre {
	font: 12px "Consolas", "Liberation Mono", "Menlo", "Courier", "monospace";
	background-color: $color_black_haze_approx;
	margin-top: 0;
    margin-bottom: $vertical-rhythm;
	word-wrap: normal;
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	font-family: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", "monospace";
	> code {
		padding: 0;
		margin: 0;
		font-size: 100%;
		//Instead of the line below you could use @include word-break($value)
		word-break: normal;
		white-space: pre;
		background: transparent;
		border: 0;
	}
	code {
		display: inline;
		max-width: auto;
		padding: 0;
		margin: 0;
		overflow: visible;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0;
	}
	code::before, code::after {
		content: normal;
	}
}

code {
    font-family: $font-code;
	font-size: 12px;
    background-color: $color_black_haze_approx;
	padding: 4px;
}

em {
	font-style: italic;
}

q {
	@extend em;
	&:before {
		content: "\201C";
	}
	&:after {
		content: "\201D";
	}
}

dfn {
	font-style: italic;
}
.sans {
	font-family: "Open Sans", "Myriad Pro", "Myriad", "sans-serif";
}
.mono {
	font-family: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", "monospace";
}
tt {
	font-family: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", "monospace";
}

ul, ol {
    margin-bottom: $vertical-rhythm;
    li {
        margin-left: 1.25em;
        code {
            font-family: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", "monospace";
        }
    }
}

ul li {
	list-style-type: none;
	&:before {
		content: "\00BB \0020";
	}
}

h1 {
    @include size(h1);
	font-family: $font-header;
	margin-top: $vertical-rhythm;
	a {
		text-decoration: none;
	}
}

h2 {
    @include size(h2);
	font-family: $font-header;
	margin-top: $vertical-rhythm;
	a {
		text-decoration: none;
	}
}

h3 {
    @include size(h3);
	font-family: $font-header;
	margin-top: $vertical-rhythm;
	a {
		text-decoration: none;
	}
}

strong {
	font-weight: 600;
}

del, s {
	text-decoration: line-through;
}

%blockquote {
	font-family: $font-header;
	content: '\201C';
	font-size: 35px;
	color: $color_masala_approx;
}

blockquote {
	font-family: $font-header, "serif";
	text-align: center;
	padding: 25px;
	p {
		display: inline-block;
		font-style: italic;
	}
	&:before {
		@extend %blockquote;
	}
	&:after {
		@extend %blockquote;
		content: '\201D';
	}
}

header {
    height: 100vh;
    background-color: #d6d0ca;
    padding-top: 80px;
    text-align: center;
}

.nav-fixed {
    position: fixed;
    top: 0;
}

nav {
    height: $vertical-rhythm * 2;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 100;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4 );
    h3 {
        margin: 0;
    }
    ul {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 2;
        margin: 0;
    }
    ul li, li:before {
        display: inline;
        content: "";
        margin: 0;
    }
}

.title {
    text-align: center;
    position: static;
    margin-top: 60px;
    a {
        text-decoration: none;
    }
}

.posts_listing {
    margin: 0 0 $vertical-rhythm;
    a {
        text-decoration: none;
    }
    li {
        margin: 0 0 25px 15px;
        &:before {
            content: '';
            margin-right: 0;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.sub-header, time {
    @include size(p);
	color: $color_masala_approx;
    margin-bottom: $vertical-rhythm;
}

.content {
	text-align: left;
	width: 100%;
	time {
		margin-left: 3px;
	}
    a {
        text-shadow: 0.03em 0 #fff,
                     -0.03em 0 #fff,
                     0 0.03em #fff,
                     0 -0.03em #fff,
                     0.06em 0 #fff,
                     -0.06em 0 #fff,
                     0.09em 0 #fff,
                     -0.09em 0 #fff,
                     0.12em 0 #fff,
                     -0.12em 0 #fff,
                     0.15em 0 #fff,
                     -0.15em 0 #fff,
                     0.03em 0.075em #fff,
                     -0.03em 0.075em #fff,
                     0.06em 0.075em #fff,
                     -0.06em 0.075em #fff,
                     0.09em 0.075em #fff,
                     -0.09em 0.075em #fff,
                     0.12em 0.075em #fff,
                     -0.12em 0.075em #fff,
                     0.15em 0.075em #fff,
                     -0.15em 0.075em #fff;
        background-image: linear-gradient(#0783AB,#0783AB);
        background-size: 1px 2px;
        background-repeat: repeat-x;
        background-position: 0 90%;
        text-decoration: none;
        transition: color .2s ease-in-out;
        &:hover {
            color: #0783AB;
        }
    }
}

.highlight {
	margin: 10px 0;
}

#links {
	margin: 50px 0 0;
	:nth-child(2) {
		float: right;
	}
}

#not-found {
	text-align: center;
	a {
		font-family: $font-header;
		font-size: 200px;
		text-decoration: none;
		display: inline-block;
		padding-top: 225px;
	}
}
