<section class="blog" id="blog">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12"><h1>{{ i18n "latestPosts" }}</h1></div>
    </div>
    <div class="row">
      <div class="col-xs-12 posts-list">
        {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
          <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class=sub-header>
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }}
            </div>
          </article>
        {{ end }}
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12"><h3><a href="{{ "blog/" | relLangURL }}">{{ i18n "viewAll" }}</a></h3></div>
    </div>
  </div>
</section>
