{{ if .Site.Params.Feat.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.Feat.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ if .IsHome }}
  <header class="row middle-xs center-xs">
    <div class="col-xs-12">
      <div class="row middle-xs center-xs">
        <div class="col-xs-12"><img {{ if .Site.Params.Feat.lazyLoading }}data-src="{{ .Site.Params.logoBig }}" onclick="onLogoClick()" lazyload="on"{{ else }}src="{{ .Site.Params.logoBig }}"{{ end }} alt="{{ .Site.Title }}" class="home-logo {{ if .Site.Params.Feat.lazyLoading }}lazyload{{ end }}"></div>
      </div>
      <div class="row middle-xs center-xs">
        <div class="col-xs-12">
          <h1>{{ .Site.Params.tagline | markdownify }}<span class="cursor">|</span></h1>
          <noscript>
              <span class="icon icon-attention-circled icon-2x" style="color:red"></span>
              <h1>{{ i18n "noJsMsg" }}</h1>
          </noscript>
        </div>
      </div>
    </div>
  </header>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-6 col-sm-1 logo">
    <a href="{{ "#" | relLangURL }}"><img {{ if .Site.Params.Feat.lazyLoading }}data-src="{{ .Site.Params.logoSmall }}" class="lazyload" lazyload="on"{{ else }}src="{{ .Site.Params.logoSmall }}"{{ end }} alt="{{ .Site.Title }}"></a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2 nav-item">
        <h3><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></h3>
      </div>
    {{ end }}
  <div class="col-xs-6 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false">
        <i id="open" class="icon icon-2x icon-menu"></i>
      </a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
