{{ $scripts := slice }}
{{ $scripts = $scripts | append (resources.Get "js/src/base.js") }}

{{ if .Site.Params.Feat.useTermynal -}}
  {{ $scripts = $scripts | append (resources.Get "js/src/termynal.js" | resources.ExecuteAsTemplate "js/src/termynal.js" .) }}
{{- end }}

{{ if not (eq (len (where .Site.RegularPages "Section" "gallery")) 0) -}}
  {{ $scripts = $scripts | append (resources.Get "js/src/modal.js" | resources.ExecuteAsTemplate "js/src/modal.js" .) }}
{{- end }}

{{ $scripts = $scripts | append (resources.Get "js/src/nav.js" | resources.ExecuteAsTemplate "js/src/nav.js" .) }}
{{ $scripts = $scripts | append (resources.Get "js/src/home.js") }}

{{ if (.Site.Params.Feat.ajaxBasin) -}}
  {{ $scripts = $scripts | append (resources.Get "js/src/contact.js" | resources.ExecuteAsTemplate "js/src/contact.js" .) }}
{{- end }}
<script>
{{ if .IsHome }}
  {{ ($scripts | resources.Concat "js/bundle-home.js" | js.Build (dict "minify" true)).Content | safeJS }}
{{- else -}}
  {{ $scripts := (slice (resources.Get "js/src/base.js") (resources.Get "js/src/nav.js") )}}
  {{ ($scripts | resources.Concat "js/bundle-blog.js" | js.Build (dict "minify" true)).Content | safeJS }}
{{ end }}
</script>
