{{ if not (eq (len (where .Site.RegularPages "Section" "gallery")) 0) }}
  {{ partial "modals.html" . }}
  <script src="{{ (resources.Get "js/src/modal.js" | minify | fingerprint).Permalink }}" type="text/javascript"></script>
{{ end }}

{{ if .Site.Params.highlightJS }}
  {{ if .Site.Params.highlightJSScript }}
    <script src="{{ .Site.Params.highlightJSScript }}"></script>
  {{ else }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  {{ end }}
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

{{ if .IsHome }}
  <script src="{{ (resources.Get "js/src/index.js" | minify | fingerprint).Permalink }}" type="text/javascript"></script>
  {{ if or (and (.Site.Params.ajaxFormspree) (.Site.Params.ajaxFormspreeGold)) (.Site.Params.ajaxBasin) }}
    <script>{{ (resources.Get "js/src/contact.js" | resources.ExecuteAsTemplate "js/src/contact.js" . | minify | fingerprint).Content | safeJS }}</script>
  {{ end }}
{{ else }}
  <script src="{{ (resources.Get "js/src/main.js" | minify | fingerprint).Permalink }}" type="text/javascript"></script>
{{ end }}
