{{ $scratch := newScratch }}
{{ with .Params.image -}}
    {{ with (resources.Get .) -}}
        {{/* TODO(kdevo): Make normalizing configurable */}}
        {{ $image := .Resize "x300" }}
        {{ $scratch.Set "img" $image.Permalink }}
        {{/* $preview := .Fit "50x50 q25" */}}
        {{/* $scratch.Set "imgPreview" $preview.Permalink */}}
    {{- else -}}
        {{ $scratch.Set "img" (. | absURL) }}
    {{- end }}
{{- else -}}
    {{ with .Params.imageUrl }}
        {{ $scratch.Set "img" (. | absURL) }}
    {{- else -}}
        {{ with .Params.github.repo -}}
        {{ $scratch.Set "img" ((printf "https://raw.githubusercontent.com/%s/master/.github/logo.png" .) | absURL) }}
        {{- end }}
    {{- end }}
{{- end }}
<img 
{{ if .Site.Params.Feat.lazyLoading }}
data-src="{{ $scratch.Get "img" }}" class="lazyload" src="{{ $scratch.Get "imgPreview" }}"
{{ else }}
src="{{ $scratch.Get "img" }}"
{{ end }}
{{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>