<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <base href="{{ .Site.BaseURL }}">
        {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
        <title>
            {{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
            {{- if eq $url "" -}}
            {{- .Site.Title -}}
            {{- else -}}
            {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{- .Title }} | {{ .Site.Title -}} {{ end }}
            {{- end -}}
        </title>
        <link rel="canonical" href="{{ .Permalink }}">
        {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ end }}
        <link rel="stylesheet" href="styles/main.css" type="text/css">
    </head>

    <body>
        <header class="row middle-xs center-xs">
            <div class="col-xs-12">
                <div class="row middle-xs center-xs">
                    <div class="col-xs-12"><a href="{{ .Site.BaseURL }}"><img src="/images/logo/Toma-Nistor-Logo-450px.png"></a></div>
                </div>
                <div class="row middle-xs center-xs">
                    <div class="col-xs-12"><h1>{{ .Site.Params.sitename }}<span class="cursor">|</span></h1></div>
                </div>
            </div>
        </header>
        <nav class="row middle-xs center-sm">
            <div class="col-xs-6 col-sm-1" style="display: none;">
                <a href="{{ .Site.BaseURL }}"><img src="/images/logo/Toma-Nistor-Logo-85px.png"></a>
            </div>
            {{ range .Site.Menus.main }}
            <div class="col-xs-3 col-md-2"><h3><a href="{{ .URL }}">{{ .Name }}</a></h3></div>
            {{ end }}
            <div class="col-xs-6 hidden" style="display: none;">
                <a href="javascript:void(0);" class="nav-icon">&#9776;</a>
            </div>
        </nav>
        <section class="nav-full row middle-xs center-xs">
            <div class="col-xs-12">
                <div class="row middle-xs center-xs">
                    {{ range .Site.Menus.main }}
                    <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Name }}</a></h1></div>
                    {{ end }}
                </div>
            </div>
        </section>
        <section class="page">
