<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <base href="{{ .Site.BaseURL }}">
    {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

    <title>
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ if eq $url "/" }}
        {{ .Site.Title }}
      {{ else }}
        {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
      {{ end }}
    </title>
    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="stylesheet" href="css/main.css" type="text/css">

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>

  <body>
    <section id=nav>
      <h1><a href="/">{{ .Site.Params.sitename }}</a></h1>
      <ul>
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </section>
