{{ range where .Site.RegularPages "Section" "gallery" }}

  <!-- First 4 characters of each gallery page's unique ID -->
  <!-- {{ $modalID := (slicestr .File.UniqueID 0 4) }} -->
  {{ $modalID := .File.BaseFileName }}

  {{ $scratch := newScratch }}
  {{ if eq .Params.type "github" -}}
  {{ $scratch.Set "repo" (getJSON "https://api.github.com/repos/" .Params.github.repo) }}
  {{- end }}

  <div id="modal-{{ $modalID }}" class="modal">

    <!-- Modal box -->
    <div class="modal-box">
      <span class="close icon icon-cancel-circled"></span>
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-header-img-container" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
            {{ partial "gallery-img" . }}
          </div>
        </div>

        <div class="modal-content"{{ if .Params.terminal.lines -}} hidden id="content-{{ $modalID }}" {{- end}}>
          <h2>{{ .Params.title }}</h2>

          <!-- Content -->
          <article class="entry-content">
            {{ if eq (len (trim .Content "\r\n" )) 0 -}}
              <p>{{ with $scratch.Get "repo" }}{{ .description }}{{ end }}</p>
            {{- else -}}
              {{ if $scratch.Get "repo" }}
                {{ replace .Content "{{! github-description !}}" ($scratch.Get "repo").description | safeHTML }}
              {{- else -}}
                {{ .Content }}
              {{- end }}
            {{- end }}
          </article>
          <!-- Links -->
          <div class="row center-xs">
              {{ if .Params.linkView -}}
              <div class="col-xs">
                  <div class="box">
                    <a href="{{ .Params.linkView }}">
                      <button type="submit"><span class="icon icon-right-circled"></span> {{ i18n "view" }}</button>
                    </a>
                  </div>
              </div>
              {{- end }}
              {{ if .Params.linkCode -}}
              <div class="col-xs">
                  <div class="box">
                    <a href="{{ .Params.linkCode }}" target="_blank">
                      <button type="submit"><span class="icon icon-terminal"></span>{{ i18n "code" }}</button>
                    </a>
                  </div>
              </div>
              {{- else -}}
              {{ with $scratch.Get "repo" -}}
              <div class="col-xs">
                  <div class="box">
                    <a href="{{ replace (replace .archive_url "{/ref}" "") "{archive_format}" "zipball" }}" target="_blank">
                      <button type="submit"><span class="icon icon-download"></span>{{ i18n "download" }}</button>
                    </a>
                  </div>
              </div>
              {{- end }}
              {{ with $scratch.Get "repo" -}}
              <div class="col-xs">
                  <div class="box">
                    <a href="{{ .html_url }}" target="_blank">
                      <button type="submit"><span class="icon icon-terminal"></span>{{ i18n "code" }}</button>
                    </a>
                  </div>
              </div>
              {{- end }}
              {{- end }}

          </div>
          
          {{ if .Params.github.showInfo }}
            {{ with (getJSON ($scratch.Get "repo").languages_url) -}}
            {{ $scratch.Set "repo-lang" . }}
            {{ $sum := 0 }}
            {{ range $lang, $val := . }}{{ $sum = add $sum $val }}{{ end }}
            {{ $scratch.Set "repo-lang-sum" $sum }}
            {{ $scratch.Set "repo-lang-main" (math.Round (mul 100 (div (index . ($scratch.Get "repo").language) $sum))) }}
            {{- end }}
            {{ with $scratch.Get "repo" }}<div class="row center-xs"><div class="repo-info">
            <a href="{{ .html_url }}/pulse"><span class="icon icon-github-cat"></span></a>
            <a href="{{ .languages_url }}">{{ .language }}{{ with ($scratch.Get "repo-lang-main") }}{{ if lt . 100.0 }} ({{ . }}%) {{ end }}{{ end }}</a>
            {{ with .license }}{{ with (getJSON .url) }} &bull; <a href="{{ .html_url }}">{{ .spdx_id }}</a> {{ end }} {{ end }}
            {{ if gt .stargazers_count 0 }} &bull; <a href="{{ .html_url }}/stargazers"> {{ .stargazers_count }} stars </a>{{ end }}
            {{ if gt .forks_count 0 }} &bull; <a href="{{ .html_url }}/network/members"> {{ .forks_count }} forks </a>{{ end }}
            &bull; <a href="{{ .html_url }}/issues">{{ .open_issues_count }} open issues</a>
          </div></div>{{ end }}{{ end }}
        </div>


        {{ if .Params.terminal.lines -}}
          <div class="term-content">
          <div id="term-{{ $modalID }}" data-termynal>
          {{ range .Params.terminal.lines }}
          {{ if eq .type "progress" }}
            <span data-ty="{{ .type }}" data-ty-delay="{{ .wait }}" data-ty-progressPercent="{{ .data }}"></span>
          {{ else }}
            <span data-ty="{{ .type }}" data-ty-delay="{{ .wait }}">{{ .data }}</span>
          {{ end }}
        {{ end }}
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
{{ end }}
