<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}

      <!-- Gallery -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "gallery")) 0) }}
        {{ partial "gallery.html" . }}
      {{ end }}

      <!-- Blog -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "blog")) 0) }}
        {{ partial "blog.html" . }}
      {{ end }}

      <!-- Contact -->
      {{ partial "contact.html" . }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
