{{ $res := resources.Get (.Get "img") }}
{{ $alt := default "" (.Get "alt") }}
{{ $parentResize := false }}
{{ with .Parent }}
    {{ $parentResize = .Get "resize" }}
{{ end }}

{{ $resize := default "Lanczos 500x" (default $parentResize (.Get "resize")) }}
{{ $class := default "" (.Get "div") }}
{{ $img := $res.Resize $resize }}
{{ $width := $img.Width }}
{{ $height := $img.Height }}


{{ if .Site.Params.Feat.useLazySizes }} 
{{ with $class }}
<div class="{{ . }}">
{{ end }}
<noscript>
<img
src="{{ $img.Permalink }}"
loading="lazy"
{{ with $alt }}
alt="{{ . }}"
{{ end }}
style="max-width: 100%; height: auto" 
height="{{ $height }}"
width="{{ $width }}"
>
</noscript>
{{ end }}
<img 
{{ if .Site.Params.Feat.useLazySizes }} 
data-src="{{ $img.Permalink }}" 
class="lazyload"
{{ else }}
src="{{ $img.Permalink }}"
loading="lazy"
{{ end }}
style="max-width: 100%; height: auto" 
{{ with $alt }}
alt="{{ . }}"
{{ end }}
height="{{ $height }}"
width="{{ $width }}"
>
{{ with $class }}
</div>
{{ end }}