{{ $res := resources.Get (.Get 0) }}
{{ $img := $res.Resize (.Get 1) }}
{{ $width := $img.Width }}
{{ $height := $img.Height }}
{{ $alt := default "" (.Get 2) }}

{{ if .Site.Params.Feat.useLazySizes }} 
<noscript>
<img
src="{{ $img.Permalink }}"
loading="lazy"
alt="{{ $alt }}"
style="width: {{ $width }}px; height: auto" 
height="{{ $height }}"
width="{{ $width }}"
>
</noscript>
{{ end }}
<img 
{{ if .Site.Params.Feat.useLazySizes }} 
data-src="{{ $img.Permalink }}" 
class="lazyload"
{{ else }}
src="{{ $img.Permalink }}"
loading="lazy"
{{ end }}
alt="{{ $alt }}"
style="width: {{ $width }}px; height: auto" 
height="{{ $height }}"
width="{{ $width }}"
>